body {
    font-family: Arial, sans-serif;
    background-color: #f6f4f4;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
h3 {
    color: rgb(2, 177, 26);
}
nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}
p {
    color: rgb(2, 177, 26);
}